[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
mysqlclient = "*"
django-tables2 = "*"
django-bootstrap-v5 = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django-bootstrap5 = "*"
django-bootstrap4 = "*"
crispy-bootstrap4 = "*"
gunicorn = "*"
django-advanced-filters = "*"
django-filter = "*"
django-tables2-column-shifter = "*"
tablib = "*"
pandas = "*"
plotly = "*"
dash = "*"
django-plotly-dash = "*"
xlrd = "*"
openpyxl = "*"
reportlab = "*"
django-jazzmin = "*"
django-multiselectfield = "*"

[dev-packages]

[requires]
python_version = "3.10"
