{% extends "home_template.html" %}

    {% block head %}
    <script src="/static/js/admin_js.js"></script>
    {% endblock %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>
    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:10px" id="showcase">
        <h1 class="w3-jumbo"><b>Carga de datos</b></h1>
        <h4 class="w3-text-red"><b>Interfaz para la carga de datos en la Base de datos ARPBIG IdISBa</b></h4>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

      <div style="display: block; margin:0 auto;">
          <form action="{% url 'cargadatos' %}" method="POST" enctype="multipart/form-data"  id="upload_file">
              {% csrf_token %}
              <label for="fileselect" style="width: 100%;">Seleccione el archivo con la información:</label>
              <input type="file" id="fileselect" name="fileselect" accept=".xlsx, .xls, .csv" style="width: 100%;" required>
              <label for="loci">¿Extraer los loci del archivo de entrada?</label>
              <select id="loci" name="loci">
                <option value="yes" selected="selected">Extraer</option>
                <option value="no">No extraer</option>
              </select>
              <div><input type="submit" value="Cargar archivo" class="btn btn-primary"></div>
          </form>
      </div>

      <div>Nombre del archivo: {{ file.name }}</div>

      {% if df_columns %}
      <hr style="width:100%;">
      <h4>Datos:</h4>
      <div class="results" style="position: relative; overflow-x: auto; overflow-y: auto; height: 500px;">
            <table class="table table-striped results" style="overflow: auto;">
                <thead style="position: sticky; top:0; background-color: #fff; z-index: 2; font-weight: bold; font-variant: small-caps; outline: 5px solid black; color: white; background-color: #f44336;">
                    <tr>
                        {% for column in df_columns %}
                            <th>{{ column }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in df_rows %}
                        <tr>
                            {% for value in row %}
                                <td>{{ value }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
      </div>

      <hr style="width:100%;">

      <div class="w3-container" id="variables_bdd" style="width: 100%; display: flex; justify-content: space-evenly;">
        <div>
            <h3>Variables BDD</h3>
            <form action="{% url 'upload_summary' %}" method="POST" id="upload_matches">
                <h4>Seleccione campo en la BDD para cada columna: </h4>
                {% csrf_token %}
                {% for df_column in df_columns %}
                    <label for="variable_{{ df_column }}" style="text-align: left;">{{ df_column }}</label>
                    <select name="variable_{{ df_column }}" id="variable_{{ df_column }}" style="float: right;">
                        {% for db_column in db_columns %}
                            {% if db_column == 'No escribir en BDD' %}
                                <option value="option_{{ db_column }}" selected="selected">{{ db_column }}</option>
                            {% else %}
                                <option value="option_{{ db_column }}">{{ db_column }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                {% endfor %}
                <input type="hidden" id="db_var_input" name="db_var_input">
                <input type="submit" value="Guardar variables" class="btn btn-primary">
            </form>
        </div>
        {% if messages %}
            <p class="{{ message.tags }}">{{ message }}</p>
        {% endif %}
      </div>

      {% endif %}

      {% if amr_loci %}

      <hr style="width:100%;">

      <h3>Genes de resistencia a AB en archivo de entrada</h3>

      {% for amr in amr_loci %}
        <div>{{ amr }}</div>
      {% endfor %}

      {% endif %}

      <hr style="width:100%;">

      <h3>Acceso a Admin de BDD</h3>
      <div>
          <a href="/admin"><button>Acceder a base de Datos</button></a>
      </div>

    <!-- End page content -->
    </div>

    {% endblock %}