{% extends "home_template.html" %}
{% load static %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>
    {% endblock %}

    {% block content %}
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:10px" id="showcase">
        <h1 class="w3-jumbo"><b>Carga de datos</b></h1>
        <h4 class=""><b>Datos añadidos o modificados en la BD</b></h4>
        <hr style="width:50px;border:5px solid #00334c" class="w3-round">
      </div>
    </div>

    <div class="w3-main" style="margin-left:340px;margin-right:40px">
        {% if error %}
        <div>
            <h4>{{ error }}</h4>
        </div>
        {% endif %}


        {% if created_records %}
        <div class="results" style="overflow: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        Registros que serán creados:
                    </tr>
                </thead>
                <tbody>
                    {% for row in created_records %}
                        <tr>
                            <td>{{ row }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if edited_records %}
        <div class="results" style="overflow: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        Registros que serán modificados:
                    </tr>
                </thead>
                <tbody>
                    {% for key, value in edited_records.items %}
                        <tr>
                        <td>{{ key }} : {{ value }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}

        {% if not created_records and not edited_records %}
            <h4>Todos los registros ya existen en la Base de Datos, no se hará ningún cambio</h4>
        {% endif %}
    </div>
    {% endblock %}