<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}

    <script src="/static/js/upload.js"></script>
</head>
<body>
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="modalLabel">¡¡ATENCIÓN!! Esta operación va a hacer cambios en la BDD</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h6>Verifica los siguientes aspectos encontrados al evaluar la carga de variables propuesta:</h6>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger">Escribir datos en BDD</button>
<!--            <button type="button" class="btn btn-success" onclick="desplegar('reasignar')">Revisar asignación de variables</button>-->
<!--            <button type="button" class="btn btn-success" onclick="myFunction()">Revisar asignación de variables</button>-->
            <!--            <button type="button" class="btn btn-success" value="Back">Revisar asignación de variables</button>-->
            <button type="button" class="btn btn-success" onclick="showDialog()">Revisar asignación de variables</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Volver</button>
            <div id="reasignar" style="display: none; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;">
                <p>Esta es la información del div que se puede mostrar u ocultar.</p>
            </div>
            <dialog id="myDialog">
              <h4>¡¡ATENCIÓN!! Esta operación va a hacer cambios en la BDD</h4>
              <p>Verifica los siguientes aspectos encontrados al evaluar la carga de variables propuesta:</p>
              <button onclick="closeDialog()">Volver</button>
            </dialog>
        </div>
    </div>
</div>
</body>
</html>