{% extends "modal_template.html" %}

    {% block head %}
    <title>Base de datos ARPBIGIDISBA</title>
<!--    <script src="/static/js/admin_js.js"></script>-->
    {% endblock %}

    {% block body %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Valores de AMR de las cepas filtradas:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'amr_clas_modal' %}" method="POST" id="amr_clas_results">
                    {% csrf_token %}
                    <h5>Seleccione la versión de puntos de corte para calcular R/I/S: </h5>

                    <select name="breakpoint_table" id="breakpoint_table">
                    {% for table in breakpoints_tables %}:
                        {% if table == selected_table %}
                        <option value="{{ table }}" selected="selected">{{ table }}</option>
                        {% else %}
                        <option value="{{ table }}">{{ table }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <input type="hidden" id="amr_clas_modal" name="amr_clas_modal">
                    <input type="submit" value="Seleccionar versión de puntos de corte" class="btn btn-primary">
                </form>
            </div>
            <div class="modal-footer">
                {% if selected_table %}
                {% for ab in selected_breakpoints %}
                {{ ab }}
                {% endfor %}
                {% else %}
                <p>Seleccione una versión de puntos de corte para ver la clasificación clinica</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% endblock %}