{% extends "modal_template.html" %}

    {% block head %}
    <title>ARPBIGIDISBA Database</title>
    {% endblock %}

    {% block body %}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>AMR values of the filtered strains:</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'amr_clas_modal' %}" method="POST" id="amr_clas_results">
                    {% csrf_token %}
                    <h5>Select the breakpoint table version to calculate R/I/S: </h5>

                    <select name="breakpoint_table" id="breakpoint_table">
                    {% for table in breakpoints_tables %}:
                        {% if table == selected_table %}
                        <option value="{{ table }}" selected="selected">{{ table }}</option>
                        {% else %}
                        <option value="{{ table }}">{{ table }}</option>
                        {% endif %}
                    {% endfor %}
                    </select>

                    <input type="hidden" id="amr_clas_modal" name="amr_clas_modal">
                    <input type="submit" value="Select breakpoint table version" class="btn btn-primary">
                <button type="button" class="btn btn-success" onclick="showDialog()">Review variable assignment</button>

                </form>
            </div>
            <div class="modal-footer">
                {% if selected_table %}
                {% for ab in selected_breakpoints %}
                {{ ab }}
                {% endfor %}
                {% else %}
                <p>Select a breakpoint table version to view the clinical classification</p>
                {% endif %}
            </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <div id="reasignar" style="display: none; padding: 10px; border: 1px solid #ccc; background-color: #f9f9f9;">
                    <p>This is the content of the div that can be shown or hidden.</p>
                </div>
                <dialog id="myDialog" style="position: fixed; top: 10px; overflow: auto; max-height: calc(100vh - 20px)">
                    <p>Please review the following issues found when evaluating the proposed variable mapping:</p>
                    <form action="{% url 'upload_modal' %}" method="POST" id="upload_matches">
                        <h4>Select the database field for each column: </h4>
                        {% csrf_token %}
                        {% for field in all_fields %}
                            <label for="{{ field.0 }}" style="text-align: left;">{{ field.0 }}</label>
                            <select name="{{ field.0 }}" id="{{ field.0 }}" style="float: right;">
                                {% for db_column in db_columns %}
                                    {% if db_column == field.1 %}
                                        <option value="{{ field.1 }}" selected="selected">{{ field.1 }}</option>
                                    {% else %}
                                        <option value="{{ db_column }}">{{ db_column }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <br>
                        {% endfor %}
                        <input type="hidden" id="db_var_modal" name="db_var_modal">
                        <input type="submit" value="Update assignment" class="btn btn-primary">
                    </form>

                    <button onclick="closeDialog()">Back</button>
                </dialog>
            </div>
        </div>
    </div>

    {% endblock %}