{% extends "home_template.html" %}

{% load django_tables2 %}
{% load render_table from django_tables2 %}
{% load bootstrap4 %}

{% load crispy_forms_tags %}
{% bootstrap_messages %}

    {% block head %}
    {% endblock %}

    {% block title %}

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

          <!-- Header -->
          <div class="w3-container" style="margin-top:10px" id="showcase">
            <h1 class="w3-jumbo"><b>Advanced search</b></h1>
            <h3 class=""><b>Database ARPBIG IdISBa</b></h3>
            <hr style="width:50px;border:5px solid #00334c" class="w3-round">
          </div>

        <!-- Query Filters -->
        <form action="{% url 'resultados' %}" method="POST" id="filtros_busqueda">
            {% csrf_token %}
            <div class="accordion" id="accordion_form">
              <div class="card accordion-group">
                <div class="card-header accordion-heading" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" data-parent="#accordion_form" href="#collapseOne">
                      Isolated strain data
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="accordion-body collapse" aria-labelledby="headingOne" data-parent="#accordion_form">
                  <div class="card-body form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ metadatageneral_form.isolate_name | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ metadatageneral_form.project_name | as_crispy_field }}
                      </div>
                       <div class="form-group col-md-6 mb-0">
                        {{ metadataclinic_form.sample_type | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ metadataclinic_form.collection_ward | as_crispy_field }}
                      </div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Geographic data
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion_form">
                  <div class="card-body">
                    {{ hospital_form.country | as_crispy_field }}
                    {{ hospital_form.region | as_crispy_field }}
                    {{ hospital_form.town | as_crispy_field }}
                    {{ hospital_form.hospital | as_crispy_field }}
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      MIC values
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion_form">
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_pip" name="comparison_pip">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.pip | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_pip_tz" name="comparison_pip_tz">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.pip_tz | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_fep" name="comparison_fep">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.fep | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_cfdc" name="comparison_cfdc">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.cfdc | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_caz" name="comparison_caz">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.caz | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_caz_avi" name="comparison_caz_avi">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.caz_avi | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_ct" name="comparison_ct">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.ctz | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_imi" name="comparison_imi">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.imi | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_imi_rel" name="comparison_imi_rel">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.imi_rel | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_mer" name="comparison_mer">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.mer | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_mer_vab" name="comparison_mer_vab">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.mer_vab | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_azt_avi" name="comparison_azt_avi">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.azt_avi | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_cip" name="comparison_cip">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.cip | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_ami" name="comparison_ami">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.ami | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_gen" name="comparison_gen">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.gen | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_net" name="comparison_net">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.net | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_tob" name="comparison_tob">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.tob | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_col" name="comparison_col">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.col | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_fo" name="comparison_fo">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.fo | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_tic" name="comparison_tic">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.tic | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_ptz" name="comparison_ptz">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                         {{ mic_form.ptz | as_crispy_field }}
                      </div>
                    </div>
                    <div class="card-body form-row">
                      <div class="form-group col-md-1 mb-0">
                        <select id="comparison_atm" name="comparison_atm">
                            <option value="" selected>-</option>
                            <option value="gt">&gt;</option>
                            <option value="gte">&gt;=</option>
                            <option value="lt">&lt;</option>
                            <option value="lte">&lt;=</option>
                        </select>
                      </div>
                      <div class="form-group col-md-2 mb-0">
                        {{ mic_form.atm | as_crispy_field }}
                      </div>
                    </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Phenotype
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion_form">
                  <div class="card-body form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ fenotipo_form.ecdc_resistance_profile | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ fenotipo_form.idsa_resistance_profile | as_crispy_field }}
                      </div>
                  </div>
                  <div class="card-body form-row">
                      <div class="form-group col-md-4 mb-0">
                        {{ fenotipo_form.cloxa_test | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-4 mb-0">
                        {{ fenotipo_form.mbl_test | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-4 mb-0">
                        {{ fenotipo_form.esbl_test | as_crispy_field }}
                      </div>
                  </div>
                  <div class="card-body form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ fenotipo_form.invitro_serotype | as_crispy_field }}
                      </div>
                  </div>
                </div>
              <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Molecular data
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFour" data-parent="#accordion_form">
                  <div class="card-body form-row">
                      <div class="form-group col-md-6 mb-0">
                        {{ secuencia_analisis_form.clonal_complex | as_crispy_field }}
                      </div>
                      <div class="form-group col-md-6 mb-0">
                        {{ secuencia_analisis_form.insilico_serotype | as_crispy_field }}
                      </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="submit" form="filtros_busqueda" value="BUSCAR">BUSCAR</button>
          </div>
        </form>

    <!-- End page content -->
    </div>

    {% endblock %}
