{% extends "home_template.html" %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Carga de datos</b></h1>
        <h3 class="w3-xxxlarge w3-text-red"><b>Interfaz para la carga de datos en la Base de datos ARPBIG IdISBa</b></h3>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

      <div>
          <a href="/admin"><button>Acceder a base de Datos</button></a>
      </div>

    <!-- End page content -->
    </div>

    {% endblock %}