{% extends "home_template.html" %}
{% load static %}

    {% block title %}

    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Base de datos</b></h1>
<!--        <h1 class="w3-xxxlarge w3-text-red"><b>Showcase.</b></h1>-->
<!--        <hr style="width:50px;border:5px solid red" class="w3-round">-->
      </div>

      <!-- Menu grid -->
      <div class="w3-home-menu">
          <a class="w3-home-item" href="/busqueda"><p>Búsqueda Avanzada</p></a>
          <a class="w3-home-item" href="/pipelines"><p>Pipelines</p></a>
          <a class="w3-home-item" href="/dashboard"><p>Dashboard</p></a>
      </div>
      <div class="w3-home-menu">
          <a class="w3-home-item" href="/aplicaciones"><p>Aplicaciones</p></a>
          <a class="w3-home-item" href="/documentacion"><p>Documentación</p></a>
          <a class="w3-home-item" href="/cargadatos"><p>Carga de datos</p></a>
      </div>
    </div>
    {% endblock %}
