{% extends "home_template.html" %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Pipelines</b></h1>
        <h3 class="w3-xxxlarge w3-text-red"><b>Análisis de datos</b></h3>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

      <!-- Selector de pipelines -->
      <div class="w3-container" style="margin-top:80px" id="selector_pipelines">
        <form>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Selecciona un pipeline</label>
                <select class="form-control" id="exampleFormControlSelect1">
                  <option>Variant Calling</option>
                  <option>In vitro</option>
                  <option>Genealogías</option>
                  <option>Mutantes</option>
                </select>
            </div>
            <h3>Parámetros para el análisis</h3>
            <div class="form-group">
                <input type="file" class="form-control" id="exampleFormControlInput1" placeholder="Seleccionar archivo">
                <input type="checkbox" id="setting1" name="setting1" value="Trimming">
                <label for="setting1"> Usar trimming</label><br>
                <input type="checkbox" id="setting2" name="setting2" value="Anotación">
                <label for="setting1"> Anotar variantes</label><br>
                <input type="checkbox" id="setting3" name="setting3" value="Tabulado">
                <label for="setting3"> Tabular resultados</label>
                <input type="submit" value="Lanzar análisis">
            </div>
            <h3>Output</h3>
            <div class="form-group">
                <textarea rows="20" cols="50" id="exampleFormControlSelect2" name="exampleFormControlSelect2" placeholder="Aquí saldrá el output del análisis en tiempo real"></textarea>
            </div>
            <h3>Formato de salida</h3>
            <div class="form-group">
                <label for="exampleFormControlSelect3">Selecciona un formato de salida para el resultado:</label>
                <select class="form-control" id="exampleFormControlSelect3">
                  <option>*.txt</option>
                  <option>*.csv</option>
                  <option>*.xls</option>
                  <option>*.xlsx</option>
                  <option>*.vcf</option>
                </select>
                <input type="submit" value="Obtener archivo de output">
            </div>

        </form>
      </div>
    <!-- End page content -->
    </div>

    {% endblock %}