{% extends "home_template.html" %}

{% load django_tables2 %}
{% load render_table from django_tables2 %}

    {% block head %}
    <script src="/static/js/admin_js.js"></script>
    {% endblock %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Resultados</b></h1>
        <h3 class="w3-xxxlarge w3-text-red"><b>Base de datos ARPBIG IdISBa</b></h3>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

        <!-- Parámetros búsqueda -->
        <h2>Parámetros de la búsqueda</h2>
        <div class="w3-container">
            {% for parameter, value in parameters_used.items %}
                <p><b>{{ parameter }} : </b> {{ value }}</p>
            {% endfor %}
        </div>

        <!-- Table Results -->
        <h2>Resultados de la búsqueda</h2>
        <div class="w3-container">
<!--            {% render_table object_list %}-->
            {% render_table table %}
        </div>

    <!-- End page content -->
    </div>

    {% endblock %}