{% extends "home_template.html" %}

{% load crispy_forms_tags %}
{% load django_tables2 %}
{% load querystring from django_tables2 %}
{% load export_url from django_tables2 %}
{% load render_table from django_tables2 %}
{% load bootstrap5 %}

    {% block head %}
    <script src="/static/js/admin_js.js"></script>
    {% endblock %}

    {% block title %}
    <!-- Top menu on small screens -->
    <header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
      <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
      <span>Base de datos ARPBIG</span>
    </header>

    {% endblock %}

    {% block content %}

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:340px;margin-right:40px">

      <!-- Header -->
      <div class="w3-container" style="margin-top:10px" id="showcase">
        <h1 class="w3-jumbo"><b>Resultados</b></h1>
        <h3 class="w3-text-red"><b>Base de datos ARPBIG IdISBa</b></h3>
        <hr style="width:50px;border:5px solid red" class="w3-round">
      </div>

        <!-- Parámetros búsqueda -->
        <h2>Parámetros de la búsqueda</h2>
        <div class="w3-container">
            {% for parameter, value in verbose_used.items %}
                <p><b>{{ parameter }} : </b> {{ value }}</p>
            {% endfor %}
        </div>

        <!-- Table Results -->
        <h2>Resultados de la búsqueda</h2>
        <div class="w3-container">

                <div class="accordion" id="accordion_filter">
                  {% if filter %}
                  <div class="card accordion-group">
                    <div class="card-header accordion-heading" id="headingFilterOne">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFilterOne" aria-expanded="true" aria-controls="collapseFilterOne" data-parent="#accordion_filter" href="#collapseFilterOne">
                          Filtrar resultados
                        </button>
                      </h5>
                    </div>
                    <div id="collapseFilterOne" class="accordion-body collapse" aria-labelledby="headingFilter" data-parent="#accordion_filter">
                      <div class="card-body form-row">
                          <div class="form-group col-md-6 mb-0">
                            <form action="{% url 'resultados' %}" method="POST">
                                {% csrf_token %}

                                {% bootstrap_form filter.form layout='inline' %}
                                {% bootstrap_button 'Filtrar' %}
                            </form>
                          </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <div class="card accordion-group">
                    <div class="card-header accordion-heading" id="headingPrint">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapsePrint" aria-expanded="true" aria-controls="collapsePrint" data-parent="#accordion_filter" href="#collapsePrint">
                          Exportar resultados
                        </button>
                      </h5>
                    </div>
                    <div id="collapsePrint" class="accordion-body collapse" aria-labelledby="headingPrint" data-parent="#accordion_filter">
                      <div class="card-body form-row">
                          <div class="form-group col-md-6 mb-0">
                            <form method="GET">
                                <a href='{% export_url "csv" %}' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Exportar a CSV</a>
                                <a href='{% export_url "xlsx" %}' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Exportar a XLSX</a>
                                <a href='{% export_url "txt" %}' class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Exportar a TXT</a>
                            </form>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="card accordion-group">
                    <div class="card-header accordion-heading" id="headingClinicalCat">
                      <h5 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseClinicalCat" aria-expanded="true" aria-controls="collapseClinicalCat" data-parent="#accordion_filter" href="#collapseClinicalCat">
                          Versiones de Categorías Clínicas
                        </button>
                      </h5>
                    </div>
                    <div id="collapseClinicalCat" class="accordion-body collapse" aria-labelledby="headingClinicalCat" data-parent="#accordion_filter">
                      <div class="card-body form-row">
                          <div class="form-group col-md-6 mb-0">
<!--                            <form action="{% url 'resultados' %}" method="POST">-->

                                <button type="button" class="btn btn-success" onclick="showDialog()">Revisar asignación de variables</button>

<!--                            </form>-->
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
            {% render_table table %}
        </div>

        <dialog id="myDialog" style="position: fixed; top: 10px; overflow: auto; max-height: calc(100vh - 20px)">
            <h4>Valores de AMR de las cepas filtradas:</h4>
            <form action="{% url 'upload_modal' %}" method="POST" id="upload_matches">
                <h6>Seleccione la versión de puntos de corte para calcular R/I/S: </h6>
                {% csrf_token %}

                <input type="hidden" id="db_var_modal" name="db_var_modal">
                <input type="submit" value="Modificar asignación" class="btn btn-primary">
            </form>

            <button onclick="closeDialog()">Volver</button>
        </dialog>

    <!-- End page content -->
    </div>

    {% endblock %}